<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTER</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="container">
        <label>Enter UserName:</label>
        <input id="user_name" type="text"/>
        <label>Enter UserName:</label>
        <input id="passW" type="password"/>
        <button id="submit">Submit</button>
    </div>
</body>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</html>